.footer {
    background: lightgray;
    padding: 18px;
    color: black;
    font-size: 17px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}

.sideBar.d-flex {
    flex-direction: column;
}

label.checkbox-inline {
    display: flex;
}

h3 {
    font-size: 15px;
}